<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Flask Intro - login page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
      </head>
<body>
    <h3>Ajouter un nouveau Employee</h3>
    <hr />

    <form action="{{ request}}" method="POST">
        <label for="nom">Nom</label><br>
        <input type="text" name="nom" placeholder="Saisir le nom" /><br>
        <label for="Prenom">Prenom</label><br>
        <input type="text" name="prenom" placeholder="Saisir le prenom" /><br>
        <label for="nom">salaire</label><br>
        <input type="text" name="salaire" placeholder="Saisir le salaire" /><br>
        <label for="nom">Age</label><br>
        <input type="text" name="age" placeholder="Saisir l'age" /><br>
        <label for="nom">Matricule</label><br>
        <input type="text" name="matricule" placeholder="Saisir le matricule" /><br> 
        <input type="submit"  class="btn btn-success" value="Submit" />
    </form>
</body>

</html>